<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Login credentials for email service-->
    <add key="smtpServer" value=""/>
    <add key="smtpPort" value=""/>
    <add key="smtpUsername" value=""/>
    <add key="smtpPassword" value=""/>

    <!--Api url for dev-->
    <add key="apiUrl" value="https://localhost:7123"/>
    
    <!--Api url for release-->
    <!--<add key="apiUrl" value="http://localhost:5000"/>-->
  </appSettings>
</configuration>